USE [master]
GO
/****** Object:  Database [Shopping]    Script Date: 10-10-2022 01:03:56 ******/
CREATE DATABASE [Shopping]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shopping', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Shopping.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Shopping_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Shopping_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shopping].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shopping]
GO
/****** Object:  Table [dbo].[OrderDisplay]    Script Date: 10-10-2022 01:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDisplay](
	[OrderID] [varchar](50) NOT NULL,
	[Sno] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[DateOfOrder] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[OrderDisplay] ([OrderID], [Sno], [ProductID], [ProductName], [Price], [Quantity], [DateOfOrder]) VALUES (N'2001', 69221, 38221, N'Sandwich', 10, 1, N'20/01/2022')
INSERT [dbo].[OrderDisplay] ([OrderID], [Sno], [ProductID], [ProductName], [Price], [Quantity], [DateOfOrder]) VALUES (N'4223', 12333, 53221, N'Fries', 5, 2, N'22/01/2022')
INSERT [dbo].[OrderDisplay] ([OrderID], [Sno], [ProductID], [ProductName], [Price], [Quantity], [DateOfOrder]) VALUES (N'8023', 13321, 42131, N'Ice Cream', 3, 3, N'24/01/2022')
GO
/****** Object:  StoredProcedure [dbo].[GetBy_Orderid]    Script Date: 10-10-2022 01:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetBy_Orderid]
	-- Add the parameters for the stored procedure here
	 @iOrderId int
AS
BEGIN
if(@iOrderId !=0)
BEGIN
 SELECT distinct [OrderID]
      ,[Sno]
      ,[ProductID]
      ,[ProductName]
      ,[Price]
      ,[Quantity]
      ,[DateOfOrder]
  FROM [Shopping].[dbo].[OrderDisplay]
      WHERE OrderID = @iOrderId
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	END;
ELSE
BEGIN
SELECT  [OrderID]
      ,[Sno]
      ,[ProductID]
      ,[ProductName]
      ,[Price]
      ,[Quantity]
      ,[DateOfOrder]
  FROM [Shopping].[dbo].[OrderDisplay]
END


    -- Insert statements for procedure here
	
END
GO
USE [master]
GO
