<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Update your account details</title>
    </head>
    <body>
        <div>
            <h1>Edit your account details</h1>
        </div>
            <form>
                <table>
                    <tr><td>Name:</td><td><input type="text" placeholder="Enter new name" name="Name"/></td></tr>
                    <tr><td>Email:</td><td><input type="text" placeholder="Enter new email" name="Name"/></td></tr>
                    <tr><td>Phone Number:</td><td><input type="text" placeholder="Enter new Phone number" name="Name"/></td></tr>
                    </td><td><input class="button" type="submit" value="Edit User"></td></tr>
                </table>
            </form>
    </body>
</html>