<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css">
        <title>Update your account details</title>
    </head>
    <body>
        <ul class="Navigation">
            <li class="Active"><a href="index.html">Home</a></li>
            <li><a href="">Page 2</a></li>
            <li><a href="p">Page 3</a></li>
        </ul>
        
        <br><br><br><br><br><br>
        <h2><span class="pageheading">Welcome to ASDxd!</span></h2>

        <div>
            <h1>Edit your account details</h1>
        </div>
            <form action="index.html">
                <table>
                    <tr><td>Name:</td><td><input type="text" placeholder="Enter new name" name="Name"/></td></tr>
                    <tr><td>Email:</td><td><input type="text" placeholder="Enter new email" name="Name"/></td></tr>
                    <tr><td>Phone Number:</td><td><input type="text" placeholder="Enter new Phone number" name="Name"/></td></tr>
                    </td><td><input class="button" type="submit" value="Edit User"></td></tr>
                </table>
            </form>
    </body>
</html>