<html>
<head>
    <title>ASDxd</title>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <span class="whitestrip"><img src="/Images/blurstrip.png" alt="Banner" height=90></span>
    <h1>ASDxd</h1>


    <ul class="Navigation">
        <li class="Active"><a href="index.html">Home</a></li>
        <li><a href="">Page 2</a></li>
        <li><a href="p">Page 3</a></li>

    </ul>
    <br><br><br><br><br><br>
    <h2><span class="pageheading">Welcome to ASDxd!</span></h2>

    <!-- Content starts here-->

    <p>
        Welcome to ASDxdd!<br>
        Easy access to everyones pages for testing:
    <p>

        David: <a href="">Product List</a> & <a href="">Product Description</a><br><br>
        Abishek: <a href="">xd</a> & <a href="">xdd</a><br><br>
        Patrick E: <a href="addProduct.html">Add Product</a>
        Brendan: <a href="order.html">Order</a> & <a href="payment.html">Pay</a>
        <!--etc... idk maybe just shove a link to your pages here when you make it-->
    </p>

    <!-- Content ends here-->

    <footer>

        <ul class="foot">
            <li class="dontH"><a>Made By Group 3 | 41026 Advanced Software Development</a></li>
            <li class="dontH"><a>University of Technology Sydney</a></li>
            <li class="ActFoot"><a href="index.html">Home</a></li>
            <li><a href="">Page2</a></li>
            <li><a href="">Page3</a></li>
        </ul>

    </footer>






</body>
</html>
