<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Restaurants</title>
    <head>
        <h1>Name of Website</h1>
    </head>
    <body>
        <div class="options">
            <button>
                Delivery
            </button>
            <button>
                Pick-up
            </button>
        </div>
        <div class="listings">
            <h3>Restaurant 1</h3>
            <h3>Restaurant 1</h3>
            <h3>Restaurant 1</h3>
            <h3>Restaurant 1</h3>
            <h3>Restaurant 1</h3>
        </div>
    </body>
</html>