<!DOCTYPE html>
<html>
<head>
    <title>ASDxd</title>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h2>Example Restaurant</h2>

    <p>
        big fat description of the restaurant goes here<br>
        maybe like a banner as well
    </p>

    <h3>Hamburgers</h3>
    <button class="collapsible">Beef Hamburger</button>
    <div class="content">
        <button class="option">No Cheese</button><br>
        <button class="option">No Pickles</button><br>
        <button class="option">Addon: Extra cheese</button><br>
        <button class="option">Addon: Double meat</button><br>
        <button class="option">Sauce: Barbeque</button><br>
        <button class="option">Sauce: Spicy</button><br>
        <button class="option">Sauce: Tomato</button><br>
        <button class="option">Sauce: Sweet and Sour</button><br>
        <button class="cart">Add To Cart</button>
    </div>

    <button class="collapsible">Chicken Hamburger</button>
    <div class="content">
        <button class="option">No Tomato</button><br>
        <button class="option">No Pickles</button><br>
        <button class="option">Addon: Extra cheese</button><br>
        <button class="option">Addon: Double meat</button><br>
        <button class="option">Sauce: Barbeque</button><br>
        <button class="option">Sauce: Spicy</button><br>
        <button class="option">Sauce: Tomato</button><br>
        <button class="option">Sauce: Sweet and Sour</button><br>
        <button class="cart">Add To Cart</button>
    </div>

    <h3>Drinks</h3>
    <button class="collapsible">Cola</button>
    <div class="content">
        <button class="option">Coca-Cola</button><br>
        <button class="option">Coca-Cola: No Sugar</button><br>
        <button class="option">Coca-Cola: Vanilla</button><br>
        <button class="option">Coca-Cola: Drinkable (Pepsi)</button><br>
        <button class="option">Coca-Cola: Cherry</button><br>
    </div>


    <script>
        //i have absolutely no idea what this is doing
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>

</body>
</html>
