<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Update Product</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <b>Update Product</b><br><br>
    <form>
        <label for="prodName">Product Name</label><br>
        <input type="text" name="prodName" id="prodName" style="width: 250px" required value="Cheeseburger"><br><br>

        <label for="prodCategory">Category</label><br>
        <select id="prodCategory" name="prodCategory" style="width: 150px">
            <option value="main" selected>Main</option>
            <option value="dessert">Dessert</option>
            <option value="drink">Drink</option>
        </select><br><br>

        <label for="prodPrice">Price $</label><br>
        <input type="number" name="prodPrice" id="prodPrice" min="0" step="0.01" required value="4.95"><br><br>

        <label for="prodDesc">Description (optional)</label><br>
        <textarea name="prodDesc" id="prodDesc" style="width: 250px" rows="4">Delicious beef cheeseburger with cheese, lettuce, tomatoes and pickles.</textarea><br><br>

        <input type="submit" value="Update Product">
        <button type="button" onclick="location.href='index.html'">Cancel</button>
    </form>
</body>
</html>