
@model IEnumerable<ASDNew.Models.Restaurant>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table>
            <thead>
            <th>

            </th>
            <th>
                Name
            </th>
            <th>
                Cuisine
            </th>
            <th>
                Catalogue
            </th>
            <th>
                Description
            </th>
            </thead>
            </table>
            @foreach (var restaurant in Model)
            {
                <table>
            <tbody style="background-color:whitesmoke; border-radius: 25%">

                    <tr style="padding-bottom: 5em">
                        <td><img src="~/Images/apple.png"/ style="height: 100px; padding: 25px"></td>
                        <td style="width:17%">
                            @Html.ActionLink(restaurant.Name, "Index", "Product", new { RestaurantID = restaurant.Id }, null)
                        </td>
                        <td style="padding: 5px">
                            Borgor
                        </td>
                        <td style="padding: 5px">
                            Product Count
                        </td>
                        <td style="padding: 15px">
                            @restaurant.Description
                        </td>
                    </tr>
                
            </tbody>
            </table><br>
            }
    </div>
</body>
</html>