
@model IEnumerable<ASDNew.Models.Restaurant>

@{
    bool headingWritten = false;
}

<style>
    table.rounded-corners {
        /* Change these properties */

        border-radius: 15px;
        /* Don't change these properties */
        border-spacing: 0;
        border-collapse: separate;
        border: var(--border);
        overflow: hidden;
    }

        /* Apply a border to the right of all but the last column */
        table.rounded-corners th:not(:last-child),
        table.rounded-corners td:not(:last-child) {
            border-right: var(--border);
        }

        /* Apply a border to the bottom of all but the last row */
        table.rounded-corners > thead > tr:not(:last-child) > th,
        table.rounded-corners > thead > tr:not(:last-child) > td,
        table.rounded-corners > tbody > tr:not(:last-child) > th,
        table.rounded-corners > tbody > tr:not(:last-child) > td,
        table.rounded-corners > tfoot > tr:not(:last-child) > th,
        table.rounded-corners > tfoot > tr:not(:last-child) > td,
        table.rounded-corners > tr:not(:last-child) > td,
        table.rounded-corners > tr:not(:last-child) > th,
        table.rounded-corners > thead:not(:last-child),
        table.rounded-corners > tbody:not(:last-child),
        table.rounded-corners > tfoot:not(:last-child) {
            border-bottom: var(--border);
        }
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <br>
        <h1 style="text-align: center">Restaurants Nearby</h1>
        <br>
        @foreach (var restaurant in Model)
        {
            if (!headingWritten)
            {
                <table class="rounded-corners">
                    <thead>
                    <th>
                    </th>
                    <th style="text-align: center">
                        Name
                    </th>
                    <th style="text-align: center">
                        Cuisine
                    </th>
                    <th style="text-align: center">
                        Catalogue
                    </th>
                    <th style="text-align: center">
                        Description
                    </th>
                    </thead>
                    <tbody style="background-color:whitesmoke; border-radius: 25%">

                        <tr style="padding-bottom: 5em">
                            <td><img src="~/Images/apple.png" / style="height: 100px; padding: 25px"></td>
                            <td style="width:17%; text-align: center">
                                @Html.ActionLink(restaurant.Name, "Index", "Product", new { RestaurantID = restaurant.Id }, null)
                            </td>
                            <td style="padding: 5px; text-align: center">
                                Borgor
                            </td>
                            <td style="padding: 5px; text-align: center">
                                Product Count
                            </td>
                            <td style="padding: 15px; text-align: center">
                                @restaurant.Description
                            </td>
                        </tr>

                    </tbody>
                </table><br>
                headingWritten = true;
            }
            else
            {
            <table class="rounded-corners">
                <tbody style="background-color:whitesmoke; border-radius: 25%">

                    <tr style="padding-bottom: 5em">
                        <td><img src="~/Images/apple.png" / style="height: 100px; padding: 25px"></td>
                        <td style="width:17%; text-align: center">
                            @Html.ActionLink(restaurant.Name, "Index", "Product", new { RestaurantID = restaurant.Id }, null)
                        </td>
                        <td style="padding: 5px; text-align: center">
                            Borgor
                        </td>
                        <td style="padding: 5px; text-align: center">
                            Product Count
                        </td>
                        <td style="padding: 15px; text-align: center">
                            @restaurant.Description
                        </td>
                    </tr>

                </tbody>
            </table><br>
            }
        }
    </div>
</body>
</html>