@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>41026 Advanced Software Development.</p>
<p>Restaurant Management System</p>
<p>By: David Dyer<br>Abishek Sundar Raman<br>Jaghadishan Navamani Ramakrishnan<br>Brendan Ly<br>Patrick La<br>Patrick Espiritu</p>
