

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <input type="button" value="Add Restaurants" onclick="location.href='@Url.Action("AddRestaurants", "Admin")'" />
        <input type="button" value="Add Products" onclick="location.href='@Url.Action("AddProducts", "Admin")'" />
    </div>
</body>
</html>
