h1 {
    font-family: Verdana, Geneva, sans-serif;
    position: fixed;
    top: 0px;
}

h2 {
    font-family: Verdana, Geneva, sans-serif;
    margin-left: 20px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    background-image: url(/Images/SkyBlue4.jpg);
}

p {
    font-family: Verdana, Geneva, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

span.whitestrip {
    position: fixed;
    top: 0;
    margin-top: 0px;
}

span.pageheading {
    color: #c68c53;
    font-size: 30px;
}

ul.Navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 75px;
    left: 0;
}

li {
    float: left;
}

    li a {
        display: black;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: Verdana, Geneva, sans-serif;
    }

        li a:hover {
            background-color: #111;
        }

    li.Active {
        background-color: #c68c53;
    }

        li.Active a:hover {
            background-color: #c68c53;
        }

footer {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 5px 0px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

li.ActFoot a {
    Color: #c68c53;
}

ul.foot {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

footer a {
    text-decoration: none;
    padding: 0px 15px;
    color: white;
}

    footer a:hover {
        background-color: #333;
        color: #c68c53;
    }

li.dontH a:hover {
    color: white;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 25%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    .active, .collapsible:hover {
        background-color: #555;
    }

.content {
    /*padding: 0 18px;*/
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /*background-color: #f1f1f1;*/
}

.option {
    background-color: whitesmoke;
    color: black;
    cursor: grab;
    padding: 10px;
    width: 25%;
    border: none;
    text-align: left;
    outline: solid;
    outline-width: 1px;
    outline-color: lightgray;
    font-size 15px;
}


.cart {
    background-color: dodgerblue;
    color: white;
    cursor: grab;
    padding: 10px;
    width: 25%;
    border: none;
    text-align: left;
    outline: none;
    font-size 15px;
    font-weight: bold;
}
