
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Restrarent.cshtml";
}

@*<script src="~/scripts/jquery-1.10.2.min.js"></script>*@
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

<hr />

<style>
    .search {
        margin-left: 6px;
    }
</style>

<h5>Order History</h5>

<div class="page-container">
    <div data-bottom-top="background-position: 50% 50px;" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -50px;">
        <div class="container">


            <div class="title-wrapper">
                <label for="cars">Order ID:</label>
                @if (ViewBag.orderid != null)
                {
                    @Html.DropDownList("orderid", new SelectList(ViewBag.orderid), "--Select All--", new { @id = "order_id" })
                }
                <input type="button" id="SearchID" Value="Search" class="search">



                <table id="EmpInfo" class="table table-bordered  table-hover">
                    <thead>
                        <tr>
                            <th>Sno</th>
                            <th>OrderID</th>
                            <th>ProductID</th>
                            <th>ProductName</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>DateOfOrder</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="page-content-wrapper">
    </div>
</div>





<script>

     var JSONData;


     $(document).ready(function () {

         $("#SearchID").click(function () {

             var Order = $("#order_id").val();
             
             if (Order === "") {
                 $("#EmpInfo tbody").html("");
                 for (var i = 0; i < JSONData.length; i++) {

                    

                     tr = $('<tr/>');
                     tr.append("<td>" + JSONData[i].Sno + "</td>");
                     tr.append("<td>" + JSONData[i].OrderId + "</td>");
                     tr.append("<td>" + JSONData[i].ProductId + "</td>");
                     tr.append("<td>" + JSONData[i].ProductName + "</td>");
                     tr.append("<td>" + JSONData[i].Price + "</td>");
                     tr.append("<td>" + JSONData[i].Quantity + "</td>");
                     tr.append("<td>" + JSONData[i].DateofOrder + "</td>");
                     $('table').append(tr);



                 }

             }
             else {

                 debugger;
                 
                
                 var fildata = JSONData.filter((x) => {
                     return x.OrderId === Order;
                 })
                 
                 $("#EmpInfo tbody").html("");
                 for (var i = 0; i < fildata.length; i++) {
                     tr = $('<tr/>');
                     tr.append("<td>" + fildata[i].Sno + "</td>");
                     tr.append("<td>" + fildata[i].OrderId + "</td>");
                     tr.append("<td>" + fildata[i].ProductId + "</td>");
                     tr.append("<td>" + fildata[i].ProductName + "</td>");
                     tr.append("<td>" + fildata[i].Price + "</td>");
                     tr.append("<td>" + fildata[i].Quantity + "</td>");
                     tr.append("<td>" + fildata[i].DateofOrder + "</td>");
                     $('#EmpInfo tbody').append(tr);



                 }
             }



         });

         function RefreshTable() {
             $("#mytable").load("OrderDetails.html #mytable");
         }


        //Call OrderDetails jsonResult Method
         $.getJSON("OrderHistory/OrderDetails",

        function (json) {
            var tr;

            for (var i = 0; i < json.length; i++) {

                debugger;

                    tr = $('<tr/>');
                    tr.append("<td>" + json[i].Sno + "</td>");
                    tr.append("<td>" + json[i].OrderId + "</td>");
                    tr.append("<td>" + json[i].ProductId + "</td>");
                    tr.append("<td>" + json[i].ProductName + "</td>");
                    tr.append("<td>" + json[i].Price + "</td>");
                    tr.append("<td>" + json[i].Quantity + "</td>");
                    tr.append("<td>" + json[i].DateofOrder + "</td>");
                    $('table').append(tr);



            }

            JSONData = json;

        });

    });

</script>




